

<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search User">
  </mat-form-field>
</div>
<mat-card>
  <mat-card-content>
    <h4 style="text-align: left;padding-top:30px">All Users</h4>

  <button class="btn btn-success" (click)="openDialog()">New user</button>

  <table mat-table [dataSource]="dataSource" class="table table-striped vm no-th-brd pro-of-month mb-0 v-middle">

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>
        <h6>No#</h6>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <h6>Username</h6>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="ec">
      <th mat-header-cell *matHeaderCellDef>
        <h6>Phone Number</h6>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <h6>Email</h6>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>
        <h6>Group</h6>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.group?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="branch">


      <th mat-header-cell *matHeaderCellDef>
        <h6>Portal</h6>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.portalClient }}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> <h6>Action</h6> </th>
          <td mat-cell *matCellDef="let element"> <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="openEditDialog(element.id)" mat-menu-item class="label label-info label-rounded" >
              <span>Edit group</span>
            </button>
            <button (click)="del(element.id)" mat-menu-item  >
              <span>Delete Group</span>
            </button>
            <button style="background-color: red; color: white;" *ngIf="element.enabled==true" (click)="changeStatus(element)" mat-menu-item  >
              <span>Deactivate</span>
            </button>
            <button style="background-color: green; color: white;" *ngIf="element.enabled==false" (click)="changeStatus(element)" mat-menu-item  >
              <span>Activate</span>
            </button>
            <button (click)="openPermDialog(element.id)" mat-menu-item  >
              <span>Assign Bulk Permissions</span>
            </button>
          </mat-menu>
          </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div *ngIf="isLoading"
  style="display: flex; justify-content: center; align-items: center; background: white;">
 <mat-progress-spinner
   color="primary"
   mode="indeterminate">
 </mat-progress-spinner>
</div>

<div *ngIf="isData"
style="display: flex; justify-content: center; align-items: center; background: white;">
<h1>No Data</h1>
</div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</mat-card-content>
</mat-card>
