<mat-card class="no-shadow">
  <mat-card-content>
  <mat-card-title>Assign Stand</mat-card-title>
  <form (ngSubmit)="assignStandForm()" [formGroup]="standForm">
    <div *ngIf="isLoading"
  style="display: flex; justify-content: center; align-items: center; background: white;">
 <mat-progress-spinner
   color="primary"
   mode="indeterminate">
 </mat-progress-spinner>
</div>

<div *ngIf="isData"
style="display: flex; justify-content: center; align-items: center; background: white;">
<h1>No Stands Available</h1>
</div>

<mat-form-field appearance="fill">
  <mat-label>Assign stand</mat-label>
  <mat-select formControlName="standId" >
    <mat-optgroup >
      <mat-option *ngFor="let stand of stands" [value]="stand._id">
        {{stand.standNumber}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
    <div *ngIf="loading==false">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="reset" class="btn btn-warning" (click)="closeDialog()">Close</button>
    </div>
    <div *ngIf="loading==true">
      <button mat-raised-button [disabled]="true" color="primary">Submit</button>
      <button type="reset" class="btn btn-warning" (click)="closeDialog()">Close</button>
    </div>

  </form>
  <div fxLayout="row" *ngIf="loading==true">
    <div fxFlex.gt-sm="100%" >
        <mat-card>
            <mat-card-content>

              <mat-card-subtitle>please wait while loading</mat-card-subtitle>
              <mat-progress-bar mode="buffer"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
</div>
  </mat-card-content>
</mat-card>
