<mat-card class="no-shadow">
  <mat-card-content>
  <mat-card-title>Register user</mat-card-title>
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name" formControlName="lastName"  required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Initials" type="text" formControlName="initials"  required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone Number" type="number" formControlName="phoneNumber"  required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>User Group </mat-label>
      <mat-select formControlName="groupId" >
        <mat-optgroup >
          <mat-option *ngFor="let branch of groups" [value]="branch.id">
            {{branch.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Portal </mat-label>
      <mat-select formControlName="portalClient" >
        <mat-optgroup >
          <mat-option value="ADMIN_PORTAL_USER">
            ADMIN_PORTAL_USER
          </mat-option>
          <mat-option value="CUSTOMER_PORTAL_USER">
            CUSTOMER_PORTAL_USER
          </mat-option>
          <mat-option value="FINANCIAL_INSTITUTION_PORTAL_USER">
            FINANCIAL_INSTITUTION_PORTAL_USER
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <div>

      <button mat-raised-button color="primary" type="submit">Register</button>
      <button type="reset" class="btn btn-warning" (click)="closeDialog()">Close</button>
    </div>
  </form>
  <div fxLayout="row" *ngIf="loading==true">
    <div fxFlex.gt-sm="100%" >
        <mat-card>
            <mat-card-content>

              <mat-card-subtitle>please wait while loading</mat-card-subtitle>
              <mat-progress-bar mode="buffer"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
</div>
  </mat-card-content>
</mat-card>
