

<mat-card class="no-shadow">
  <mat-card-content>
  <mat-card-title>User Permission</mat-card-title>


<mat-form-field appearance="fill">
  <mat-label>Assign user permission</mat-label>
  <mat-select formControlName="groupPermissionId" >
    <mat-optgroup *ngIf="ready">
      <mat-option *ngFor="let link of pemGroup">
        <a matLine href="...">{{ link.name }}</a>
        <button class="btn btn-primary btn-sm"  (click)="assignPem(link.id)"
       >Assign user permission</button>
     </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Revoke user permission</mat-label>
  <mat-select formControlName="groupPermissionId" >
    <mat-optgroup *ngIf="ready" >
      <mat-option *ngFor="let link of needRevoke">
        <a matLine href="...">{{ link?.permission?.name }}</a>
        <button class="btn btn-warning btn-sm"  (click)="RevokeSomePem(link.id)"
       >Revoke user permission</button>
     </mat-option>

    </mat-optgroup>
  </mat-select>
</mat-form-field>


  </mat-card-content>
</mat-card>
