
<h1>User Permmissions`</h1>


<div *ngIf="ready">

  <mat-nav-list>  
    <mat-list-item *ngFor="let link of pemGroup">  
       <a matLine href="...">{{ link.name }}</a>  
       <button class="btn btn-success btn-sm"  (click)="assignPem(link.id)"
      >Assign</button>
    </mat-list-item>  
  </mat-nav-list>  
  
  
  
  <mat-nav-list>  
    <mat-list-item *ngFor="let link of needRevoke">  
       <a matLine href="...">{{ link?.permission?.name }}</a>  
       <button class="btn btn-danger btn-sm"  (click)="RevokeSomePem(link.id)"
      >Revoke</button>
    </mat-list-item>  
  </mat-nav-list>  

</div>
